<!DOCTYPE html>
<html>
  <head>
    <title>Miniapl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
    <a href="" class="brand-logo">miniAPL</a>
      <% if user_signed_in? %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li><a href="/tweets/new">投稿する</a></li>
        </ul>
      <% else %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "ログイン", new_user_session_path, method: :get %><li>
          <li><%= link_to "新規登録", new_user_registration_path, method: :get %><li>
        </ul>
      <% end %>
    </div>
  </nav>

    <%= yield %>



  </body>
</html>
